<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576786811299-3641iolvkr99358g8lld43uutjm7eond.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576786811299-3641iolvkr99358g8lld43uutjm7eond</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>576786811299-29u5juvlvn2ig87cn85n7n68qnph40ue.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBbR274J5qmvneLO_O4oPCUV88Tf_m58EA</string>
	<key>GCM_SENDER_ID</key>
	<string>576786811299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edenhub.farm.dev</string>
	<key>PROJECT_ID</key>
	<string>edenhub-b00d2</string>
	<key>STORAGE_BUCKET</key>
	<string>edenhub-b00d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576786811299:ios:f84e0421b6457cd2ec7216</string>
</dict>
</plist>